@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
    font-family: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

header {
    width: 100%;
    height: 90vh;
    padding: 40px 2%;
    background-image: url('../images/blog.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 160px;
    height: 40px;
    background-image: url('../images/logo.png');
}

header nav {
    display: inline-block;
}

header nave ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    padding: 0 20px;
}

header nav a {
    text-decoration: none;
    color: white;
}

.chamada1 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 140px 110px;
    max-width: 600px;
    margin-left: auto;
}

.chamada1 h1 {
    font-size: 40px;
    font-weight: 300;
    color: white;
    font-weight: normal;
}

.chamada1 p {
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

section.sessao {
    width: 100%;
    background-color: #f6f7f9;
    padding: 20px 2%;
}

section.sessao .container {
    width: 1000px;
}

.sessao-texto {
    color: white;
    width: 50%;
}

.sessao-texto h2 {
    font-weight: 300;
    color: #444;
    font-size: 34px;
}

.sessao-texto p {
    margin-top: 20px;
    font-size: 17px;
    color: #383838;
}

.sessao-texto ul {
    font-size: 17px;
    color: #383838;
    list-style-position: inside;
}

.sessao-texto ul li {

}

.btn-texto {
    appearance: none;
    -webkit-appearance: none;
    background-image: linear-gradient(to right, #a51300, #bb1600);
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.29);
    width: 200px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    letter-spacing: 1.3px;
    border-radius: 100px;
    border: 1px solid white;
    text-transform: uppercase;
}

.sessao-device {
    width: 50%;
    height: 300px;
    background-image: url('../images/device.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}